xml-catalog/schemas/inspire.ec.europa.eu/schemas/common/1.0/enums/enum_gre.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://inspire.ec.europa.eu/schemas/common/1.0" targetNamespace="http://inspire.ec.europa.eu/schemas/common/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1">
	<xs:complexType name="inspireTheme_gre">
		<xs:complexContent>
			<xs:restriction base="inspireTheme">
				<xs:sequence>
					<xs:element name="OriginatingControlledVocabulary" type="originatingControlledVocabularyGemetInspireThemes"/>
					<xs:element name="KeywordValue">
						<xs:simpleType>
							<xs:restriction base="keywordValue">
								<xs:enumeration value="&#913;&#957;&#952;&#961;&#974;&#960;&#953;&#957;&#951; &#965;&#947;&#949;&#943;&#945; &#954;&#945;&#953; &#945;&#963;&#966;&#940;&#955;&#949;&#953;&#945;"/>
								<xs:enumeration value="&#913;&#964;&#956;&#959;&#963;&#966;&#945;&#953;&#961;&#953;&#954;&#941;&#962; &#963;&#965;&#957;&#952;&#942;&#954;&#949;&#962;"/>
								<xs:enumeration value="&#914;&#953;&#959;&#947;&#949;&#969;&#947;&#961;&#945;&#966;&#953;&#954;&#941;&#962; &#960;&#949;&#961;&#953;&#959;&#967;&#941;&#962;"/>
								<xs:enumeration value="&#915;&#949;&#969;&#955;&#959;&#947;&#943;&#945;"/>
								<xs:enumeration value="&#915;&#949;&#969;&#961;&#947;&#953;&#954;&#941;&#962; &#949;&#947;&#954;&#945;&#964;&#945;&#963;&#964;&#940;&#963;&#949;&#953;&#962; &#954;&#945;&#953; &#949;&#947;&#954;&#945;&#964;&#945;&#963;&#964;&#940;&#963;&#949;&#953;&#962; &#965;&#948;&#945;&#964;&#959;&#954;&#945;&#955;&#955;&#953;&#941;&#961;&#947;&#949;&#953;&#945;&#962;"/>
								<xs:enumeration value="&#915;&#949;&#969;&#964;&#949;&#956;&#940;&#967;&#953;&#945; &#954;&#964;&#951;&#956;&#945;&#964;&#959;&#955;&#959;&#947;&#943;&#959;&#965;"/>
								<xs:enumeration value="&#916;&#953;&#949;&#965;&#952;&#973;&#957;&#963;&#949;&#953;&#962;"/>
								<xs:enumeration value="&#916;&#943;&#954;&#964;&#965;&#945; &#956;&#949;&#964;&#945;&#966;&#959;&#961;&#974;&#957;"/>
								<xs:enumeration value="&#916;&#953;&#959;&#953;&#954;&#951;&#964;&#953;&#954;&#941;&#962; &#949;&#957;&#972;&#964;&#951;&#964;&#949;&#962;"/>
								<xs:enumeration value="&#917;&#947;&#954;&#945;&#964;&#945;&#963;&#964;&#940;&#963;&#949;&#953;&#962; &#960;&#945;&#961;&#945;&#947;&#969;&#947;&#942;&#962; &#954;&#945;&#953; &#946;&#953;&#959;&#956;&#951;&#967;&#945;&#957;&#953;&#954;&#941;&#962; &#949;&#947;&#954;&#945;&#964;&#945;&#963;&#964;&#940;&#963;&#949;&#953;&#962;"/>
								<xs:enumeration value="&#917;&#947;&#954;&#945;&#964;&#945;&#963;&#964;&#940;&#963;&#949;&#953;&#962; &#960;&#945;&#961;&#945;&#954;&#959;&#955;&#959;&#973;&#952;&#951;&#963;&#951;&#962; &#964;&#959;&#965; &#960;&#949;&#961;&#953;&#946;&#940;&#955;&#955;&#959;&#957;&#964;&#959;&#962;"/>
								<xs:enumeration value="&#904;&#948;&#945;&#966;&#959;&#962;"/>
								<xs:enumeration value="&#917;&#957;&#948;&#953;&#945;&#953;&#964;&#942;&#956;&#945;&#964;&#945; &#954;&#945;&#953; &#946;&#953;&#972;&#964;&#959;&#960;&#959;&#953;"/>
								<xs:enumeration value="&#917;&#957;&#949;&#961;&#947;&#949;&#953;&#945;&#954;&#959;&#943; &#960;&#972;&#961;&#959;&#953;"/>
								<xs:enumeration value="&#917;&#960;&#953;&#967;&#949;&#953;&#961;&#942;&#963;&#949;&#953;&#962; &#954;&#959;&#953;&#957;&#942;&#962; &#969;&#966;&#949;&#955;&#949;&#943;&#945;&#962; &#954;&#945;&#953; &#954;&#961;&#945;&#964;&#953;&#954;&#941;&#962; &#965;&#960;&#951;&#961;&#949;&#963;&#943;&#949;&#962;"/>
								<xs:enumeration value="&#918;&#974;&#957;&#949;&#962; &#948;&#953;&#945;&#967;&#949;&#943;&#961;&#953;&#963;&#951;&#962;/&#960;&#949;&#961;&#953;&#959;&#961;&#953;&#963;&#956;&#959;&#973;/&#961;&#973;&#952;&#956;&#953;&#963;&#951;&#962; &#949;&#954;&#964;&#940;&#963;&#949;&#969;&#957; &#954;&#945;&#953; &#956;&#959;&#957;&#940;&#948;&#949;&#962; &#945;&#957;&#945;&#966;&#959;&#961;&#940;&#962;"/>
								<xs:enumeration value="&#918;&#974;&#957;&#949;&#962; &#966;&#965;&#963;&#953;&#954;&#974;&#957; &#954;&#953;&#957;&#948;&#973;&#957;&#969;&#957;"/>
								<xs:enumeration value="&#920;&#945;&#955;&#940;&#963;&#963;&#953;&#949;&#962; &#960;&#949;&#961;&#953;&#959;&#967;&#941;&#962;"/>
								<xs:enumeration value="&#922;&#940;&#955;&#965;&#968;&#951; &#947;&#951;&#962;"/>
								<xs:enumeration value="&#922;&#945;&#964;&#945;&#957;&#959;&#956;&#942; &#949;&#953;&#948;&#974;&#957;"/>
								<xs:enumeration value="&#922;&#945;&#964;&#945;&#957;&#959;&#956;&#942; &#960;&#955;&#951;&#952;&#965;&#963;&#956;&#959;&#973; &#8212; &#948;&#951;&#956;&#959;&#947;&#961;&#945;&#966;&#943;&#945;"/>
								<xs:enumeration value="&#922;&#964;&#943;&#961;&#953;&#945;"/>
								<xs:enumeration value="&#924;&#949;&#964;&#949;&#969;&#961;&#959;&#955;&#959;&#947;&#953;&#954;&#940; &#947;&#949;&#969;&#947;&#961;&#945;&#966;&#953;&#954;&#940; &#967;&#945;&#961;&#945;&#954;&#964;&#951;&#961;&#953;&#963;&#964;&#953;&#954;&#940;"/>
								<xs:enumeration value="&#927;&#961;&#952;&#959;&#966;&#969;&#964;&#959;&#947;&#961;&#945;&#966;&#943;&#945;"/>
								<xs:enumeration value="&#927;&#961;&#965;&#954;&#964;&#959;&#943; &#960;&#972;&#961;&#959;&#953;"/>
								<xs:enumeration value="&#928;&#961;&#959;&#963;&#964;&#945;&#964;&#949;&#965;&#972;&#956;&#949;&#957;&#949;&#962; &#964;&#959;&#960;&#959;&#952;&#949;&#963;&#943;&#949;&#962;"/>
								<xs:enumeration value="&#931;&#964;&#945;&#964;&#953;&#963;&#964;&#953;&#954;&#941;&#962; &#956;&#959;&#957;&#940;&#948;&#949;&#962;"/>
								<xs:enumeration value="&#931;&#965;&#963;&#964;&#942;&#956;&#945;&#964;&#945; &#947;&#949;&#969;&#947;&#961;&#945;&#966;&#953;&#954;&#959;&#973; &#954;&#945;&#957;&#957;&#940;&#946;&#959;&#965;"/>
								<xs:enumeration value="&#931;&#965;&#963;&#964;&#942;&#956;&#945;&#964;&#945; &#963;&#965;&#957;&#964;&#949;&#964;&#945;&#947;&#956;&#941;&#957;&#969;&#957;"/>
								<xs:enumeration value="&#932;&#959;&#960;&#969;&#957;&#973;&#956;&#953;&#945;"/>
								<xs:enumeration value="&#933;&#948;&#961;&#959;&#947;&#961;&#945;&#966;&#943;&#945;"/>
								<xs:enumeration value="&#933;&#968;&#959;&#956;&#949;&#964;&#961;&#943;&#945;"/>
								<xs:enumeration value="&#935;&#961;&#942;&#963;&#949;&#953;&#962; &#947;&#951;&#962;"/>
								<xs:enumeration value="&#937;&#954;&#949;&#945;&#957;&#959;&#947;&#961;&#945;&#966;&#953;&#954;&#940; &#947;&#949;&#969;&#947;&#961;&#945;&#966;&#953;&#954;&#940; &#967;&#945;&#961;&#945;&#954;&#964;&#951;&#961;&#953;&#963;&#964;&#953;&#954;&#940;"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="resLocInspireInteroperabilityRegulation_gre">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="xs:anyURI">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:323:0011:0102:EL:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireInteroperabilityRegulation_gre">
		<xs:complexContent>
			<xs:restriction base="citationConformity">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="&#922;&#913;&#925;&#927;&#925;&#921;&#931;&#924;&#927;&#931; (&#917;&#917;) &#945;&#961;&#953;&#952;. 1089/2010 &#932;&#919;&#931; &#917;&#928;&#921;&#932;&#929;&#927;&#928;&#919;&#931; &#964;&#951;&#962; 23&#951;&#962; &#925;&#959;&#949;&#956;&#946;&#961;&#943;&#959;&#965; 2010 &#963;&#967;&#949;&#964;&#953;&#954;&#940; &#956;&#949; &#964;&#951;&#957; &#949;&#966;&#945;&#961;&#956;&#959;&#947;&#942; &#964;&#951;&#962; &#959;&#948;&#951;&#947;&#943;&#945;&#962; 2007/2/&#917;&#922; &#964;&#959;&#965; &#917;&#965;&#961;&#969;&#960;&#945;&#970;&#954;&#959;&#973; &#922;&#959;&#953;&#957;&#959;&#946;&#959;&#965;&#955;&#943;&#959;&#965; &#954;&#945;&#953; &#964;&#959;&#965; &#931;&#965;&#956;&#946;&#959;&#965;&#955;&#943;&#959;&#965; &#972;&#963;&#959;&#957; &#945;&#966;&#959;&#961;&#940; &#964;&#951; &#948;&#953;&#945;&#955;&#949;&#953;&#964;&#959;&#965;&#961;&#947;&#953;&#954;&#972;&#964;&#951;&#964;&#945; &#964;&#969;&#957; &#963;&#965;&#957;&#972;&#955;&#969;&#957; &#954;&#945;&#953; &#964;&#969;&#957; &#965;&#960;&#951;&#961;&#949;&#963;&#953;&#974;&#957; &#967;&#969;&#961;&#953;&#954;&#974;&#957; &#948;&#949;&#948;&#959;&#956;&#941;&#957;&#969;&#957;"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-12-08"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:anyURI">
								<xs:enumeration value="OJ:L:2010:323:0011:0102:EL:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireInteroperabilityRegulation_gre" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>