xml-catalog/schemas/inspire.ec.europa.eu/schemas/common/1.0/enums/enum_bul.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://inspire.ec.europa.eu/schemas/common/1.0" targetNamespace="http://inspire.ec.europa.eu/schemas/common/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1">
	<xs:complexType name="inspireTheme_bul">
		<xs:complexContent>
			<xs:restriction base="inspireTheme">
				<xs:sequence>
					<xs:element name="OriginatingControlledVocabulary" type="originatingControlledVocabularyGemetInspireThemes" minOccurs="1"/>
					<xs:element name="KeywordValue">
						<xs:simpleType>
							<xs:restriction base="keywordValue">
								<xs:enumeration value="&#1040;&#1076;&#1084;&#1080;&#1085;&#1080;&#1089;&#1090;&#1088;&#1072;&#1090;&#1080;&#1074;&#1085;&#1080; &#1077;&#1076;&#1080;&#1085;&#1080;&#1094;&#1080;"/>
								<xs:enumeration value="&#1040;&#1076;&#1088;&#1077;&#1089;&#1080;"/>
								<xs:enumeration value="&#1040;&#1090;&#1084;&#1086;&#1089;&#1092;&#1077;&#1088;&#1085;&#1080; &#1091;&#1089;&#1083;&#1086;&#1074;&#1080;&#1103;"/>
								<xs:enumeration value="&#1041;&#1080;&#1086;&#1075;&#1077;&#1086;&#1075;&#1088;&#1072;&#1092;&#1089;&#1082;&#1080; &#1088;&#1077;&#1075;&#1080;&#1086;&#1085;&#1080;"/>
								<xs:enumeration value="&#1043;&#1077;&#1086;&#1075;&#1088;&#1072;&#1092;&#1089;&#1082;&#1080; &#1082;&#1086;&#1086;&#1088;&#1076;&#1080;&#1085;&#1072;&#1090;&#1085;&#1080; &#1089;&#1080;&#1089;&#1090;&#1077;&#1084;&#1080;"/>
								<xs:enumeration value="&#1043;&#1077;&#1086;&#1075;&#1088;&#1072;&#1092;&#1089;&#1082;&#1080; &#1085;&#1072;&#1080;&#1084;&#1077;&#1085;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103;"/>
								<xs:enumeration value="&#1043;&#1077;&#1086;&#1083;&#1086;&#1075;&#1080;&#1103;"/>
								<xs:enumeration value="&#1045;&#1085;&#1077;&#1088;&#1075;&#1080;&#1081;&#1085;&#1080; &#1080;&#1079;&#1090;&#1086;&#1095;&#1085;&#1080;&#1094;&#1080;"/>
								<xs:enumeration value="&#1047;&#1072;&#1097;&#1080;&#1090;&#1077;&#1085;&#1080; &#1086;&#1073;&#1077;&#1082;&#1090;&#1080;"/>
								<xs:enumeration value="&#1047;&#1076;&#1088;&#1072;&#1074;&#1077; &#1080; &#1073;&#1077;&#1079;&#1086;&#1087;&#1072;&#1089;&#1085;&#1086;&#1089;&#1090; &#1085;&#1072; &#1095;&#1086;&#1074;&#1077;&#1082;&#1072;"/>
								<xs:enumeration value="&#1047;&#1077;&#1084;&#1085;&#1072; &#1087;&#1086;&#1082;&#1088;&#1080;&#1074;&#1082;&#1072;"/>
								<xs:enumeration value="&#1050;&#1072;&#1076;&#1072;&#1089;&#1090;&#1088;&#1072;&#1083;&#1085;&#1080; &#1087;&#1072;&#1088;&#1094;&#1077;&#1083;&#1080;"/>
								<xs:enumeration value="&#1050;&#1086;&#1084;&#1091;&#1085;&#1072;&#1083;&#1085;&#1086;-&#1073;&#1080;&#1090;&#1086;&#1074;&#1080; &#1080; &#1086;&#1073;&#1097;&#1077;&#1089;&#1090;&#1074;&#1077;&#1085;&#1080; &#1091;&#1089;&#1083;&#1091;&#1075;&#1080;"/>
								<xs:enumeration value="&#1050;&#1086;&#1086;&#1088;&#1076;&#1080;&#1085;&#1072;&#1090;&#1085;&#1080; &#1089;&#1087;&#1088;&#1072;&#1074;&#1086;&#1095;&#1085;&#1080; &#1089;&#1080;&#1089;&#1090;&#1077;&#1084;&#1080;"/>
								<xs:enumeration value="&#1052;&#1077;&#1089;&#1090;&#1086;&#1086;&#1073;&#1080;&#1090;&#1072;&#1085;&#1080;&#1103; &#1080; &#1073;&#1080;&#1086;&#1090;&#1086;&#1087;&#1080;"/>
								<xs:enumeration value="&#1052;&#1077;&#1090;&#1077;&#1086;&#1088;&#1086;&#1083;&#1086;&#1075;&#1080;&#1095;&#1085;&#1080; &#1075;&#1077;&#1086;&#1075;&#1088;&#1072;&#1092;&#1089;&#1082;&#1080; &#1093;&#1072;&#1088;&#1072;&#1082;&#1090;&#1077;&#1088;&#1080;&#1089;&#1090;&#1080;&#1082;&#1080;"/>
								<xs:enumeration value="&#1052;&#1080;&#1085;&#1077;&#1088;&#1072;&#1083;&#1085;&#1080; &#1088;&#1077;&#1089;&#1091;&#1088;&#1089;&#1080;"/>
								<xs:enumeration value="&#1052;&#1086;&#1088;&#1089;&#1082;&#1080; &#1088;&#1077;&#1075;&#1080;&#1086;&#1085;&#1080;"/>
								<xs:enumeration value="&#1054;&#1082;&#1077;&#1072;&#1085;&#1086;&#1075;&#1088;&#1072;&#1092;&#1089;&#1082;&#1080; &#1075;&#1077;&#1086;&#1075;&#1088;&#1072;&#1092;&#1089;&#1082;&#1080; &#1093;&#1072;&#1088;&#1072;&#1082;&#1090;&#1077;&#1088;&#1080;&#1089;&#1090;&#1080;&#1082;&#1080;"/>
								<xs:enumeration value="&#1054;&#1088;&#1090;&#1086;&#1080;&#1079;&#1086;&#1073;&#1088;&#1072;&#1078;&#1077;&#1085;&#1080;&#1077;"/>
								<xs:enumeration value="&#1055;&#1086;&#1083;&#1079;&#1074;&#1072;&#1085;&#1077; &#1085;&#1072; &#1079;&#1077;&#1084;&#1103;&#1090;&#1072;"/>
								<xs:enumeration value="&#1055;&#1086;&#1095;&#1074;&#1072;"/>
								<xs:enumeration value="&#1055;&#1088;&#1080;&#1088;&#1086;&#1076;&#1085;&#1080; &#1088;&#1080;&#1089;&#1082;&#1086;&#1074;&#1080; &#1079;&#1086;&#1085;&#1080;"/>
								<xs:enumeration value="&#1055;&#1088;&#1086;&#1080;&#1079;&#1074;&#1086;&#1076;&#1089;&#1090;&#1074;&#1077;&#1085;&#1080; &#1080; &#1087;&#1088;&#1086;&#1084;&#1080;&#1096;&#1083;&#1077;&#1085;&#1080; &#1089;&#1098;&#1086;&#1088;&#1098;&#1078;&#1077;&#1085;&#1080;&#1103;"/>
								<xs:enumeration value="&#1056;&#1072;&#1079;&#1087;&#1088;&#1077;&#1076;&#1077;&#1083;&#1077;&#1085;&#1080;&#1077; &#1085;&#1072; &#1074;&#1080;&#1076;&#1086;&#1074;&#1077;&#1090;&#1077;"/>
								<xs:enumeration value="&#1056;&#1072;&#1079;&#1087;&#1088;&#1077;&#1076;&#1077;&#1083;&#1077;&#1085;&#1080;&#1077; &#1085;&#1072; &#1085;&#1072;&#1089;&#1077;&#1083;&#1077;&#1085;&#1080;&#1077;&#1090;&#1086; &#8212; &#1076;&#1077;&#1084;&#1086;&#1075;&#1088;&#1072;&#1092;&#1080;&#1103;"/>
								<xs:enumeration value="&#1056;&#1077;&#1083;&#1077;&#1092;"/>
								<xs:enumeration value="&#1057;&#1075;&#1088;&#1072;&#1076;&#1080;"/>
								<xs:enumeration value="&#1057;&#1077;&#1083;&#1089;&#1082;&#1086;&#1089;&#1090;&#1086;&#1087;&#1072;&#1085;&#1089;&#1082;&#1080; &#1080; &#1074;&#1086;&#1076;&#1085;&#1086;&#1089;&#1090;&#1086;&#1087;&#1072;&#1085;&#1089;&#1082;&#1080; &#1089;&#1098;&#1086;&#1088;&#1098;&#1078;&#1077;&#1085;&#1080;&#1103;"/>
								<xs:enumeration value="&#1057;&#1090;&#1072;&#1090;&#1080;&#1089;&#1090;&#1080;&#1095;&#1077;&#1089;&#1082;&#1080; &#1077;&#1076;&#1080;&#1085;&#1080;&#1094;&#1080;"/>
								<xs:enumeration value="&#1057;&#1098;&#1086;&#1088;&#1098;&#1078;&#1077;&#1085;&#1080;&#1103; &#1079;&#1072; &#1091;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1077; &#1085;&#1072; &#1086;&#1082;&#1086;&#1083;&#1085;&#1072;&#1090;&#1072; &#1089;&#1088;&#1077;&#1076;&#1072;"/>
								<xs:enumeration value="&#1058;&#1088;&#1072;&#1085;&#1089;&#1087;&#1086;&#1088;&#1090;&#1085;&#1080; &#1084;&#1088;&#1077;&#1078;&#1080;"/>
								<xs:enumeration value="&#1059;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1077; &#1085;&#1072; &#1090;&#1077;&#1088;&#1080;&#1090;&#1086;&#1088;&#1080;&#1103;&#1090;&#1072;/&#1086;&#1075;&#1088;&#1072;&#1085;&#1080;&#1095;&#1077;&#1085;&#1080;/&#1088;&#1077;&#1075;&#1091;&#1083;&#1080;&#1088;&#1072;&#1085;&#1080; &#1079;&#1086;&#1085;&#1080; &#1080; &#1086;&#1090;&#1095;&#1077;&#1090;&#1085;&#1080; &#1077;&#1076;&#1080;&#1085;&#1080;&#1094;&#1080;"/>
								<xs:enumeration value="&#1061;&#1080;&#1076;&#1088;&#1086;&#1075;&#1088;&#1072;&#1092;&#1080;&#1103;"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="resLocInspireInteroperabilityRegulation_bul">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="xs:anyURI">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:323:0011:0102:BG:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireInteroperabilityRegulation_bul">
		<xs:complexContent>
			<xs:restriction base="citationConformity">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="&#1056;&#1045;&#1043;&#1051;&#1040;&#1052;&#1045;&#1053;&#1058; (&#1045;&#1057;) &#8470; 1089/2010 &#1053;&#1040; &#1050;&#1054;&#1052;&#1048;&#1057;&#1048;&#1071;&#1058;&#1040; &#1086;&#1090; 23 &#1085;&#1086;&#1077;&#1084;&#1074;&#1088;&#1080; 2010 &#1075;&#1086;&#1076;&#1080;&#1085;&#1072; &#1079;&#1072; &#1087;&#1088;&#1080;&#1083;&#1072;&#1075;&#1072;&#1085;&#1077; &#1085;&#1072; &#1044;&#1080;&#1088;&#1077;&#1082;&#1090;&#1080;&#1074;&#1072; 2007/2/&#1045;&#1054; &#1085;&#1072; &#1045;&#1074;&#1088;&#1086;&#1087;&#1077;&#1081;&#1089;&#1082;&#1080;&#1103; &#1087;&#1072;&#1088;&#1083;&#1072;&#1084;&#1077;&#1085;&#1090; &#1080; &#1085;&#1072; &#1057;&#1098;&#1074;&#1077;&#1090;&#1072; &#1087;&#1086; &#1086;&#1090;&#1085;&#1086;&#1096;&#1077;&#1085;&#1080;&#1077; &#1085;&#1072; &#1086;&#1087;&#1077;&#1088;&#1072;&#1090;&#1080;&#1074;&#1085;&#1072;&#1090;&#1072; &#1089;&#1098;&#1074;&#1084;&#1077;&#1089;&#1090;&#1080;&#1084;&#1086;&#1089;&#1090; &#1085;&#1072; &#1084;&#1072;&#1089;&#1080;&#1074;&#1080; &#1086;&#1090; &#1087;&#1088;&#1086;&#1089;&#1090;&#1088;&#1072;&#1085;&#1089;&#1090;&#1074;&#1077;&#1085;&#1080; &#1076;&#1072;&#1085;&#1085;&#1080; &#1080; &#1091;&#1089;&#1083;&#1091;&#1075;&#1080; &#1079;&#1072; &#1087;&#1088;&#1086;&#1089;&#1090;&#1088;&#1072;&#1085;&#1089;&#1090;&#1074;&#1077;&#1085;&#1080; &#1076;&#1072;&#1085;&#1085;&#1080;"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-12-08"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:anyURI">
								<xs:enumeration value="OJ:L:2010:323:0011:0102:BG:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireInteroperabilityRegulation_bul" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>